.tbl{
    position: absolute;
    top: 10vh;
    width: 50vw;
    left: 25vw;
    border-collapse: collapse;
}
.tbl td{
    border: 1px solid brown;
    padding: 2vh;
}
.tbl thead{
    font-weight: bold;
}
.tbl tfoot{
    color: blue;
    text-align: right;
}
tr:hover{
    background-color: green;
}